export VITE_SP_URL="https://yzojfegurptburhtlvbr.supabase.co"
export VITE_SP_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MzU0NzM2NiwiZXhwIjoxOTU5MTIzMzY2fQ.4hq-RK-zB5WZtb3xNVq4FBv-igSpdfLlymUe6eW0gcg"